.colour {
  background: linear-gradient(57deg, #00c6a7, #1e4d92);
}

.slid {
  background: linear-gradient(57deg, #1e4d92, #00c6a7);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 100%); */
}
@media only screen and (max-width: 680px) {
  img {
    width: 100vw;
  }
}
/* @media only screen and (min-width: 680px) {
  .slid {
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 100%);
  }
} */

.harsh {
  text-align: center;
  padding-top: 15%;
}

.crds {
  display: flex;
  padding: 1px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.uline {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #1e4d92;
}

.register {
  background-origin: padding-box;
  box-sizing: border-box;
  width: 500%;
  height: initial;
  /* border: darkgrey solid; */
  margin-top: 50px;
  /* background: linear-gradient(57deg, #1e4d92, #00c6a7); */
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 100%); */
}
.bg1 {
  background: linear-gradient(57deg, #00c6a7, #1e4d92);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 100%); */
}
